#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 0;
  text-align: center; */
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.card {
  /* padding: 1em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.read-the-docs {
  color: #888;
}
